.DS_Store
*.txt
*.gz
RCS
*.pyc
flake_res
settings_local.py
settings_local.py*
temp.csv
mysite/tmp/*
mysite/.DS_Store
mysite/mysite/.DS_Store
mysite/submission/.DS_Store
django_sites/lib/*
.idea/*
mysite/.idea/workspace.xml
