{% load staticfiles %}
{% load tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
 <title>{% block title %}{% endblock %}</title> 
 <meta http-equiv="content-type" content="text/html;charset=utf-8" />
 <link rel="stylesheet" type="text/css" href="{% static 'submission/style.css' %}" /> 
  <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/submission/style.css" /><![endif]-->
 </head>
  <body class="{% block bodyclass %}{% endblock %}">
  {% block bunner %}
    <div id="bunner"></div> 
  {% endblock %} 
  
  {% block content %}

     <div id="content">

         {% block navigation %}
         <div id="navigation">
             <ul id="nav">
               <li><a href="/submission/">Upload Submission Metadata</a></li>
               <li><a href="/submission/demultiplex">Demultiplex</a></li>
               <li><a href="/submission/overlap">Overlap Analyzing</a></li>
               <li><a href="/submission/chimera_checking">Chimera checking</a></li>
               <li><a href="/submission/gast">Gast</a></li>
               <li><a href="/submission/run_info_upload">Run_info upload</a></li>
               <li><a href="/submission/data_upload">Data upload</a></li>
               <li><a href="/submission/gzip_all">Gzip all</a></li>
               <li><a href="/submission/help">Help</a></li>  
               <li><a href="/submission/#here">Separate steps</a>
               <ul class="nav first"> 
                 <li><a href="/submission/demultiplex">Demultiplex</a></li>
                 <li><a href="/submission/overlap">Overlap</a></li>
                 <li><a href="/submission/filter_mismatch">Filtering mismatch</a></li>
                 <li><a href="/submission/uniqueing">Uniqueing</a></li>
                 <li><a href="/submission/chimera_checking">Chimera checking</a></li>
                 <li><a href="/submission/gast">Gast</a></li>
                 <li><a href="/submission/clear_db">Clear db</a></li>
                 <li><a href="/submission/check_fa_counts">Check counts in fa files</a></li>
                 <li><a href="/submission/check_db_counts">Check counts in db</a></li>
                 <li><a href="/submission/gzip_all">Gzip all</a></li>
                 <li><a href="/submission/gunzip_all">Gunzip all</a></li>
                 <li><a href="/submission/help">Help</a></li>
                 </ul>  
               </li>      
             </ul>
         </div>
         {% endblock %}
         
         <hr/>
         {% block real_content %}
         {% endblock %}

     </div> <!-- end content -->


  {% endblock %} 
  {% block footer %}{% endblock %}
 </body> 
 </html>