{% load staticfiles %}
{% load mytags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
 <title>{% block title %}{% endblock %}</title>
 <meta http-equiv="content-type" content="text/html;charset=utf-8" />

 <!-- <link rel="stylesheet" type="text/css" href="{% static 'submission/reset.css' %}" />  -->
 <link rel="stylesheet" type="text/css" href="{% static 'submission/960.css' %}" />
 <link rel="stylesheet" type="text/css" href="{% static 'submission/subm_style.css' %}" />
  <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/submission/style.css" /><![endif]-->
 </head>
  <body class="{% block bodyclass %}{% endblock %}">
    <div class="container_12">
      <!-- <div class="grid_12">
    {% block bunner %}
      <div id="bunner"></div>
    {% endblock %}
    </div>
    <div class="clear"></div> -->

    <div class="grid_12" id="navigation">
    {% block navigation %}
        <ul id="nav">
          <li class="nav-li {% active 'upload_metadata' %}"><a href="/submission/upload_metadata">Submission Metadata</a></li>
          <li class="nav-li {% active 'demultiplex' %}"><a href="/submission/demultiplex">Demultiplex</a></li>
          <li class="nav-li {% active 'overlap' %}"><a href="/submission/overlap">Overlap</a></li>
          <li class="nav-li {% active 'chimera_checking' %}"><a href="/submission/chimera_checking">Chimeras</a></li>
          <li class="nav-li {% active 'gast' %}"><a href="/submission/gast">Gast</a></li>
          <li class="nav-li {% active 'run_info_upload' %}"><a href="/submission/run_info_upload">Run_info to db</a></li>
          <li class="nav-li {% active 'data_upload' %}"><a href="/submission/data_upload">Data to db</a></li>
          <li class="nav-li {% active 'gzip_all' %}"><a href="/submission/gzip_all">Gzip</a></li>
          <li class="nav-li {% active 'help' %}"><a href="/submission/help">Help</a></li>
          <li class="nav-li"><a href="{{ request.path }}">All steps</a>
          <ul class="nav first">
            <li class="nav-li {% active 'demultiplex' %}"><a href="/submission/demultiplex">Demultiplex</a></li>
            <li class="nav-li {% active 'overlap_only' %}"><a href="/submission/overlap_only">Overlap only</a></li>
            <li class="nav-li {% active 'filter_mismatch' %}"><a href="/submission/filter_mismatch">Filtering mismatch</a></li>
            <li class="nav-li {% active 'uniqueing' %}"><a href="/submission/uniqueing">Uniqueing</a></li>
            <li class="nav-li {% active 'chimera_checking' %}"><a href="/submission/chimera_checking">Chimera checking</a></li>
            <li class="nav-li {% active 'gast' %}"><a href="/submission/gast">Gast</a></li>
            <li class="nav-li {% active 'clear_db' %}"><a href="/submission/clear_db">Clear db</a></li>
            <li class="nav-li {% active 'check_fa_counts' %}"><a href="/submission/check_fa_counts">Check counts in fa files</a></li>
            <li class="nav-li {% active 'check_db_counts' %}"><a href="/submission/check_db_counts">Check counts in db</a></li>
            <li class="nav-li {% active 'gzip_all' %}"><a href="/submission/gzip_all">Gzip all</a></li>
            <li class="nav-li {% active 'gunzip_all' %}"><a href="/submission/gunzip_all">Gunzip all</a></li>
            <li class="nav-li {% active 'help' %}"><a href="/submission/help">Help</a></li>
            </ul>
          </li> <!-- end nav first -->
        </ul> <!-- end nav -->
    {% endblock %} <!-- end navigation -->
    </div> <!-- end grid_12 -->
    <div class="clear"></div>

    {% block content %}

      <div id="content">

        <div class="grid_12">
          <h1>{% block header %}{{ header|linebreaks }}{% endblock %}</h1>
        </div>
        <div class="clear"></div>
        
        {% if form %}
          <div class="grid_5">&nbsp;</div>
          <div class="grid_4">
            {% block run_choosing %}{% include 'submission/select_run.html' %}{% endblock %}
          </div>
          <div class="grid_3"></div>
          <div class="clear"></div>
        {% endif %}

        <div class="grid_12">
         {% if error_message %}
           <div class = "red_message">
             {{ error_message }}
           </div>
         {% else %}
        </div>
        <div class="clear"></div>

        <div class="grid_12">
           {% block some_content %}{% endblock %}
        </div>
        <div class="clear"></div>

        <div class="grid_12">
          {% block first_copy_command %}{% endblock %}
        </div>
        <div class="clear"></div>

        <div class="grid_12">
          {% if what_to_check %}
            {% block copy_check_command %}

              <div class = "notes">
              Afterwards you can check {{ what_to_check }} by using the following command on any <span class="emph">not</span> cluster:
              </div>
  
              <div class = "copy_command">
              cd /xraid2-2/g454/run_new_pipeline/illumina/{{ run_data.find_rundate }}_{{ run_data.find_machine }}/lane_{{ run_data.find_lane }}_{{ run_data.find_domain }}/analysis/{{ check_command }}; date
              </div>

            {% endblock %}
          {% endif %}

        </div>
        <div class="clear"></div>
         {% endif %} <!-- end if else error_message -->

       </div> <!-- end content -->


    {% endblock %}
      <div class="grid_12">
          {% block footer %}{% endblock %}
      </div>
      <div class="clear"></div>
    </div> <!-- end container_12 -->
  </body>
 </html>