{% extends "submission/base.html" %}

{% block some_content %}

<br/>

<div class = "copy_command">
mysql -h {{ run_data.db_host }} {{ run_data.find_db_name }} -e 'SELECT count(*) FROM {{ table_names.pdr }} JOIN run_info_ill using({{ table_names.run_info_join }}) JOIN run USING(run_id) JOIN primer_suite USING(primer_suite_id) JOIN {{ table_names.uniq }} USING({{ table_names.seq }}_id) WHERE primer_suite = "{{ run_data.primer_suite }}" AND run = "{{ run_data.find_rundate }}" AND lane = "{{ run_data.find_lane }}";'
</div>

{% endblock %}
