{% extends 'submission/page_w_command_l.html' %}

{% block some_more_content %}

  <br/>
  <div class = "notes">
    Afterwards you can run the following command(s) to get chimera checking statistics. 
  </div>
  <br/>
  <div class = "is_cluster"> This command line(s) can be run on any <span class="emph">not</span> cluster: </div>

  <div class = "green_message">
  cd /xraid2-2/g454/run_new_pipeline/illumina/{{ run_data.find_rundate }}_{{ run_data.find_machine }}/lane_{{ run_data.find_lane }}_{{ run_data.find_domain }}/analysis/chimera/; chimera_stats.py; date
  </div>

{% endblock %}