{% extends 'submission/page_wo_c_l.html' %}

<!-- <div class = "copy_command">
  cd /xraid2-2/g454/run_new_pipeline/illumina/{{ run_data.find_rundate }}_{{ run_data.find_machine }}/lane_{{ run_data.find_lane }}_{{ run_data.find_domain }}/analysis/reads_overlap/; run_gast_ill_nonchim_sge.sh; date
</div> -->

{% block some_more_content %}

<br/>

<div class = "notes">
Afterwards you can check the percent of "Unknown" taxa by using:
</div>

<div class = "copy_command">
cd /xraid2-2/g454/run_new_pipeline/illumina/{{ run_data.find_rundate }}_{{ run_data.find_machine }}/lane_{{ run_data.find_lane }}_{{ run_data.find_domain }}/analysis/gast/; percent10_gast_unknowns.sh; date
</div>

{% endblock %}