{% load staticfiles %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'submission/style.css' %}" /> -->


{% include 'submission/header.html' %}
<!-- <img id="header_top" src="static/submission/images/jbpc_header_top6.jpg" alt="VAMPS Header -Top"> -->

{% if latest_run_list %}
    <ul>
    {% for run in latest_run_list %}
      <!-- <li><a href="/submission/{{ run.run_id }}/">{{ run.run }}</a></li> -->
      <li><a href="{% url 'submission:detail' run.run_id %}">{{ run.run }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No submission are available.</p>
{% endif %}

