{% extends "submission/base.html" %}
{% block title %}Home{% endblock %}

{% block home %}current{% endblock %}

{% block real_content %}

<div id="content">
  <div>
   {% if latest_run_list %}
       <ul>
       {% for run in latest_run_list %}
         <!-- <li><a href="/submission/{{ run.run_id }}/">{{ run.run }}</a></li> -->
         <li><a href="{% url 'submission:detail' run.run_id %}">{{ run.run }}</a></li>
       {% endfor %}
       </ul>
   {% else %}
       <p>No submission are available.</p>
   {% endif %}
  </div>
</div> <!-- end content -->

{% endblock %}
