{% include 'submission/page_wo_c_l.html' %}

<!-- <div class = "green_message">
  cd /xraid2-2/g454/run_new_pipeline/illumina/{{ run_data.find_rundate }}_{{ run_data.find_machine }}/lane_{{ run_data.find_lane }}_{{ run_data.find_domain }}/analysis/reads_overlap/; run_gast_ill_nonchim_sge.sh; date
</div> -->

<br/>

Afterwards you can check the overlap percentage by using
<div class = "green_message">
cd /xraid2-2/g454/run_new_pipeline/illumina/{{ run_data.find_rundate }}_{{ run_data.find_machine }}/lane_{{ run_data.find_lane }}_{{ run_data.find_domain }}/analysis/reads_overlap/; take_ms_stats.py; date
</div>
