{% extends "submission/base.html" %}

  {% block first_copy_command %}

    <div class = "red_message">
    Please check if the path to raw data exists: /xraid2-2/sequencing/Illumina/{{ run_data.find_rundate }}{{ run_data.find_machine }}
    </div>

    <div class = "is_cluster"> This command line(s) can be run on any <span class="emph">{{ is_cluster }}</span> cluster: </div>

    <div class = "copy_command">
      {% if run_data %}
cd /xraid2-2/g454/run_new_pipeline/illumina/{{ run_data.full_machine_name }}_info/{{ run_data.find_rundate }}; time python /bioware/linux/seqinfo/bin/python_pipeline/py_mbl_sequencing_pipeline/pipeline-ui.py -csv /xraid2-2/g454/run_new_pipeline/illumina/{{ run_data.full_machine_name }}_info/{{ run_data.find_rundate }}/metadata_{{ run_data.find_rundate }}_{{ run_data.find_machine }}_{{ run_data.find_lane }}_{{ run_data.find_domain }}.csv -s {{ pipeline_command }} -l debug -p illumina -r {{ run_data.find_rundate }} -ft fastq -i /xraid2-2/sequencing/Illumina/{{ run_data.find_rundate }}{{ run_data.find_machine }}/ -cp True -lane_name lane_{{ run_data.find_lane }}_{{ run_data.find_domain }} -do_perfect {{ run_data.perfect_overlap }}

      {% else %}
      cd /xraid2-2/g454/run_new_pipeline/illumina/<span class = "insert_here">fullMachineName</span>_info/<span class = "insert_here">rundate</span>; time python /bioware/linux/seqinfo/bin/python_pipeline/py_mbl_sequencing_pipeline/pipeline-ui.py -csv /xraid2-2/g454/run_new_pipeline/illumina/<span class = "insert_here">fullMachineName</span>_info/<span class = "insert_here">rundate</span>/metadata_<span class = "insert_here">rundate</span>_<span class = "insert_here">machine</span>_<span class = "insert_here">lane</span>_<span class = "insert_here">domain</span>.csv -s <span class = "insert_here">pipelineCommand</span> -l debug -p illumina -r <span class = "insert_here">rundate</span> -ft fastq -i /xraid2-2/sequencing/Illumina/<span class = "insert_here">rundate</span><span class = "insert_here">machine</span>/ -cp True -lane_name lane_<span class = "insert_here">lane</span>_<span class = "insert_here">domain</span> -do_perfect <span class = "insert_here">perfectOverlap</span>

      {% endif %}

    </div>

  {% endblock %}