{% extends "submission/base.html" %}

{% block some_content %}

  {% block file_upload_form %}

    {% if file_upload_form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}


    <div class="grid_12">
      <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

          <input type="file" name="csv_file" />
          <input type="submit" value="Upload" />

      </form>
    </div>
    <div class="clear"></div>

  {% endblock %}

{% endblock %}
