{% extends "submission/base.html" %}

{% block some_content %}

 {% block csv_upload_instruction %}

  <div class="how_to">

   <H3>How to download a user filled submission form from VAMPS</H3>
   <ol>
   <li>
   Have the user create a submisson on VAMPS (<a href="http://vamps.mbl.edu/utils/submissions/project_submit.php" target="_blank">Project Submission</a>).
   </li>

   <li>
   After you log into <a href="http://vamps.mbl.edu" target="_blank">VAMPS</a>,
   click on the link
   "<a href="http://vamps.mbl.edu/utils/submissions/admin_submission.php" target="_blank">CSV File Download/Upload</a>".
   <p/>
   (If you go from VAMPS it will be on the
   "<a href="http://vamps.mbl.edu/utils/submissions/admin_submission.php" target="_blank">Project Submission-ADMIN</a>" page.)

   </li>

   <li>
   Select the submission you want, e.g. <span class="emph">sgrim123456</span>, then click "go" and then "Download csv".
   <p/>
   That will download the CSV file to your local machine.
   </li>

   <li>
   Modify the downloaded CSV,
   save as a UNIX csv (Microsoft does not do this by default -- you may have to open the csv in TextWrangler and save as a UNIX csv).
   </li>

   <li>
   Then you can upload the csv below on this page to use it for Illumina processing.
   </li>
   </ol>

  </div>
 {% endblock %}

 {% if errors_size > 0 %} 
  {% block errors %}
    <div class="red_message">
     Please correct the error{{ errors|pluralize }} below.
     {% for err in errors %}
      <p class="notes">
       {{ err|safe }}
      </p>
     {% endfor %}
    </div>
   {% endblock %}
 {% endif %}


 {% block file_upload_form %}

  <div class="grid_12 form">
   <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

     <input type="file" name="csv_file" />
     <input type="submit" name="file_upload" value="Upload" />

   </form>
  </div>
  <div class="clear"></div>

 {% endblock %}

 {% if metadata_run_info_form %}
   {% block upload_metadata_run_info_form %}

    <div class="grid_7 form">
     <fieldset id="run_info_form_run_info">
     <legend id="run_info_form_run_info-legend">Run info</legend>

      <form action="" method="post">
       <table class="normal_table">
        {{ metadata_run_info_form.as_table }}
       </table>
        {% csrf_token %}
        <input type="submit" name="submit_run_info" value="Submit Run Info">
      </form>
     </fieldset>
     </div>
     <div class="grid_5"></div>
     <div class="clear"></div>

    <div class="grid_7 form">
     <fieldset id="new_project_form_new_project">
     <legend id="new_project_form_new_project-legend">Add new project</legend>

      <form action="" method="post">
       <table class="normal_table">
        {{ metadata_new_project_form.as_table }}
       </table>
        {% csrf_token %}
        <input type="submit" name="submit_new_project" value="Submit New Project">
      </form>
     </fieldset>
     </div>
     <div class="grid_5"></div>
     <div class="clear"></div>
     
     <div class="grid_12">
      {% if new_project_created %}
          <p class=green_message>Project {{ new_project_name }} was created</p>          
      {% endif %}
     </div>
     <div class="clear"></div>
     <!--
       AddProjectForm
     <br />
     <div class="grid_12">
      <form method="post" name="csv_run_info" id="csv_run_info" action="">
        {% include "submission/form_snippet.html" %}
        <input type="hidden" name="csv_run_info" value="1">
      </form>
     </div>
     <div class="clear"></div>
     -->

     <!--
     <br />
     <input type="button" value="Add new project" class="hide_project" />
     <table .message>
        <tr style="display:none;" class="hide_project_tr {{ show_class }}">
         <td colspan="3">
         <form method="post" name="form_project" id="form_project" action="">
           {% include "submission/form_snippet.html" %}
         </form>
       </td>
      </tr>
     </table>
     <br />
     -->
     <!-- see step_subm_metadata_form_project.php -->

   {% endblock %}
  {% endif %}

  {% if metadata_out_csv_form %}
    {% block upload_metadata_out_csv_form %}
    {{ metadata_out_csv_form.management_form }}
    
    <!-- http://www.djangosnippets.org/snippets/1442/
    http://stackoverflow.com/questions/2233929/horizontal-per-row-forms-in-a-django-formset
      TODO: send out_metadata_table ad dict to metadata_out_csv_form! then print here
       -->
       
      <div class="grid_12 form">
       <fieldset id="submission_metadata_form_submission_metadata">
       <legend id="submission_metadata_form_submission_metadata-legend">Submission metadata</legend>

        <!-- {{ csv_by_header_uniqued }} -->
        <form action="" method="post">
         <table class="normal_table_w_borders">
          <tr>
          {% for header in out_metadata_table.headers %}
              <th>{{ header }}</th>
          {% endfor %}
          </tr>

        {% for form in metadata_out_csv_form %}        
          <tr>
            {% for field in form %}
              <td>{% if field.errors %}{{ field.errors }}{% endif %}{{ field }}</td>
            {% endfor %}
          </tr>
        {% endfor %}

         </table>
          {% csrf_token %}
          <input type="submit" name="create_submission_metadata_file" value="Create submission metadata file">
          <!-- cancel button! -->
        </form>
       </fieldset>
       </div>
       <div class="clear"></div>
       
       <div class="grid_12">
        {% if file_created %}
          {% for file_path in files_created %}
            <p class=green_message>{{ file_path }} was created</p>
          {% endfor %}
            
        {% endif %}
       </div>
       <div class="clear"></div>
       

   {% endblock %}
  {% endif %}


{% endblock %}
