#bunner {
    background: #a8b6c0 url('images/helix100_6.png') left no-repeat;
    position: relative;
    top: 0px;
    height: 100px;
    border: 1px solid gray;
    z-index: -1;
}

.emph {
	font-weight:bold;
}

ol.help_list
{
	padding-top: 10px;
   /* padding-bottom: 10px;	 */
}

ol.help_list li
{
	margin-left: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.message {
    color: red; font-weight: bold;
}

.green_message {
    color: #006600; font-weight: bold;
}

.blue_message {
    color: #0000FF; font-weight: bold;
}

.red_message {
    color: red; font-weight: bold;
}

/* Menu */
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    display: inline;
}