* {
    margin: 0;
    padding: 0;
}

body {
  background: #F8F8F8;
  font-size: small;
}

#content {
  margin: 0.5em;
  line-height: 120%;
  position: relative;
}

h1 {
  margin: 1em;
  line-height: 120%;
  font-size: large;
  text-align: center;
}
/*padding: 20px;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #F8F8F8;*/

/**************************** Menu ***************************/

/* http://www.devinrolsen.com/pure-css-menu-with-infinite-sub-menus-tutorial/#comment-8304 */

.darker_bg {
  background: #E0E0E0;
}

.centered {
  display: table;
  margin: 0 auto;
}


#navigation:before, #navigation:after {
    display: table;
    content: "";
    line-height: 0;
}

#navigation:after {
    clear: both;
}

#navigation {
  font-size: 1.1em;
/*  display: inline-block;*/
/*  width: 100%;*/
/*      padding: 2em 0 1em;*/
  padding-top: 1.5em;
  padding-right: 0px;
  padding-bottom: 1.5em;
  padding-left: 0px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
/*      border-bottom: 1px solid #DEDEDE;*/
  background: #E0E0E0;
/*  lightgrey;*/

}
/*  color: black;
  border-radius: 0;
  padding-bottom: 1.2em;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  width: 100%;
}*/

#nav, .nav, #nav .nav li {
  margin: 0px;
  padding: 0px;
}

#nav li {
  margin: 0px;
/*  background-color: #eee;*/
/*  #a8b6c0;*/
  float: left;
  display: inline;
  cursor: pointer;
  list-style: none;
  padding: 0px 0.4em 0px 0.4em;
/*  border: 0.1em #000 solid;*/
  /*border-right: 0.2em #fff solid;*/
  position: relative;
}

#nav li ul.first {
/*  left: -1em;*/
  left: -100%;
  top: 100%;
}

#navigation li, #navigation li a {
  color: #000;
  text-decoration: none;
}

#nav .nav li {
  width: 100%;
  text-indent: .5em;
  line-height: 1.5em;
  margin-right: 1em;
  background: #eee;
}

#nav li a {
  display: block;
  width: inherit;
  height: inherit;
}

ul.nav {
  display: none;
}

#nav li:hover > a, #nav li:hover {
  background: lightblue;

}

li:hover > .nav {
  display: block;
  position: absolute;
  width: 20em;
  top: -2px;
  left: 50%;
  z-index: 1000;
  border: 1px #000 solid;
}

li:hover { position: relative;
 z-index: 2000;
 }

#nav li.active {
  background: #a8b6c0 !important;
}


/*end menu*/

#bunner {
    background: #a8b6c0 url('images/helix100_6.png') left no-repeat;
    position: relative;
    top: 0px;
    height: 4.7em;
    border: 1px solid gray;
    z-index: -1;
}

.emph {
	font-weight: bold;
}

.emph_it {
	 font-style: italic;
}


ol.help_list
{
	padding-top: 10px;
   /* padding-bottom: 10px;	 */
}

ol.help_list li
{
	margin-left: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.message {
    color: red; font-weight: bold;
}

.green_message {
    color: #006600;
    font-weight: bold;
    margin: 0.2em;
  	margin-top: 0.5em;
  	margin-bottom: 0.5em;
}

.copy_command {
  color: #006600;
/*  margin: 0.2em;*/
	margin-top: 0.5em;
	margin-bottom: 0.5em;
/*  border-collapse: separate;
  border-color: grey;
  border: 0.1em solid;
  padding: .2em;

*/
}

.blue_message {
    color: #0000FF; font-weight: bold;
}

.red_message {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
  color: red;
  font-weight: bold;
}

.bordered {
  border-collapse: separate;
  -webkit-border-horizontal-spacing: 0.3em;
  -webkit-border-vertical-spacing: 0.1em;
  border-color: grey;
  border: 0.1em solid;
}

#run_form {
  align: center;
  margin-bottom: 2em;

}

.notes {
  padding-top: 1em;
}

.normal_table th, .normal_table td {
    text-align: left;
}

.form {
    margin-top: 1em;
    display: table;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 0px;
}

.how_to ol {
    padding-top: .5em;
    padding-left: 1em;
}


.normal_table_w_borders th {
	border: solid 1.6px;
	border-color: #eee;	
    padding-right: 1ex;
    text-align: center;
}